::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: $black;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background: $dark;
}

::-webkit-scrollbar-thumb:hover {
  background: $primary;
}
