::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: $black;
}

::-webkit-scrollbar-thumb {
  background: $dark;
}

::-webkit-scrollbar-thumb:hover {
  background: $primary;
}
